body{
background-color: rgb(148, 148, 148);
}
img{
margin: 30px;
padding: 10px;
}
.lien{
text-decoration: none;
color: brown;
}
span{
font-size: 3em;
text-align: center;

margin-right: 500px;
}

.p1{
text-align: center;
justify-content: center;
font-size: 1.5em;
color: rgb(51, 43, 43);
}
h2{
margin-left: 50px;
color: rgb(168, 216, 200);
}
ul{
font-size: 1.4em;
}